{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>Microgenre: "{{ microgenre }}"</h1>

{% if microgenre.description %}
<h2>About</h2>
<p>{{ microgenre.description }}</p>
{% endif %}

{% if features %}
<h2>Feature Films Belonging to the Microgenre:</h2>
<ul class="list-group">
{% for feature in features %}
    <li class="list-group-item">
            {% if feature.image %}
                <img id="keyword-list-thumb" src="{{ feature.image.url }}" alt="{{ feature.display_title }} poster" />
            {% else %}
                <img id="keyword-list-thumb" src="{{ default_motion_pic_img.url }}" alt="generic motion picture poster" />
            {% endif %}
        <a href="{{ feature.media_object }}">{{ feature.display_title }}</a>
        <br/>
        Release Year: <strong>{{ feature.year }}</strong>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if tv_series %}
<h2>TV Series Belonging to the Microgenre:</h2>
<ul class="list-group">
{% for tv_ser in tv_series %}
    <li class="list-group-item">
            {% if tv_ser.image %}
                <img id="keyword-list-thumb" src="{{ tv_ser.image.url }}" alt="{{ tv_ser.display_title }} poster" />
            {% else %}
                <img id="keyword-list-thumb" src="{{ default_motion_pic_img.url }}" alt="generic motion picture poster" />
            {% endif %}
        <a href="{{ tv_ser.media_object }}">{{ tv_ser.display_title }}</a>
        <br/>
        Release Year: <strong>{{ tv_ser.year }}</strong>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if not features and not tv_series %}
<strong>No database entries for the microgenre</strong>
{% endif %}
{% endblock %}