{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>Microgenres</h1>

{% if microgenre_list %}
<ul class="list-group">
    {% for microgenre in microgenre_list %}
    <li class="list-group-item clearfix">
        <a href="{{ microgenre.get_absolute_url }}"><strong>{{ microgenre }}</strong></a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Could not find any microgenres</p>
{% endif %}
{% endblock %}