{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>Movie Reviews</h1>
{% if moviereview_list %}
<ul class="list-group">
    {% for mov_review in moviereview_list %}
    <li class="list-group-item">
        <a href="{{ mov_review.get_absolute_url }}">
            {% if mov_review.reviewed_movie.poster_thumbnail %}
            <img class="img-thumbnail" src="{{ mov_review.reviewed_movie.poster_thumbnail.url }}" alt="{{ mov_review.reviewed_movie.main_title }} poster" height="80" width="60"/>
            {% else %}
            <img class="img-thumbnail" src="{{ mov_review.reviewed_movie.poster.url }}" alt="{{ mov_review.reviewed_movie.main_title}} poster" height="80" width="60"/>
            {% endif %}
            <strong>{{ mov_review }}</strong></a>
        <p><strong>Our Rating</strong>:</p><img class="media-object" src="{{ mov_review.grade.grade_depiction.url }}" alt="{{ mov_review.grade.grade_numerical }} stars" height="80" width="120"/>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Could not find any movie reviews</p>
{% endif %}
{% endblock %}