{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>Reviews</h1>
{% if moviereview_list %}
<ul class="list-group">
    {% for mov_review in moviereview_list %}
    <li class="list-group-item">
        <a href="{{ mov_review.get_absolute_url }}"><img src="{{ mov_review.reviewed_movie.poster.url }}" alt="{{ mov_review.reviewed_movie.main_title}} poster" height="64" width="64" class="img-thumbnail">{{ mov_review }}</a>
        <p><strong>Our Rating</strong>: <img src="{{ mov_review.grade.grade_depiction.url }}" alt="{{ mov_review.grade.grade_numerical }} stars" height="64" width="64" class="img-fluid img-thumbnail"/></p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Could not find any movie reviews</p>
{% endif %}
{% endblock %}