{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>Movie Reviews</h1>
{% if moviereview_list %}
<ul class="list-group">
    {% for mov_review in moviereview_list %}
    {% load static %}
    <li class="list-group-item clearfix">
        <a href="{{ mov_review.get_absolute_url }}">
            {% if mov_review.reviewed_movie.poster_thumbnail %}
            <img src="{% static '' %}{{ mov_review.reviewed_movie.poster_thumbnail }}" alt="{{ mov_review.reviewed_movie.main_title}} poster" height="100" width="100" class="img-thumbnail">
            {% else %}
            <img src="{% static '' %}{{ mov_review.reviewed_movie.poster }}" alt="{{ mov_review.reviewed_movie.main_title}} poster" height="100" width="100" class="img-thumbnail">
            {% endif %}<strong>{{ mov_review }}</strong></a>
        <div class="col-sm-4" id="rating"><p><strong>Our Rating</strong>: <img src="{% static '' %}{{ mov_review.grade.grade_depiction }}" alt="{{ mov_review.grade.grade_numerical }} stars" height="70" width="100" class="img-fluid img-thumbnail"/></p></div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Could not find any movie reviews</p>
{% endif %}
{% endblock %}