{% extends "base_generic.html" %}


{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>Movies</h1>
{% if movie_list %}
<ul class="list-group">
    {% for movie in movie_list %}
    <li class="list-group-item">
        <a href="{{ movie.get_absolute_url }}"><img src="{{ movie.poster.url }}" alt="{{ movie.main_title}} poster" height="64" width="64" class="img-thumbnail">{{ movie.main_title }}</a> ({{ movie.year_of_release }})
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Could not find any movies</p>
{% endif %}
{% endblock %}
