{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block mov_rev_structured_data %}
{% if mov_rev_sd %}
{% load render_json_ld from json_ld %}
{% render_json_ld mov_rev_sd %}
{% endif %}
{% endblock %}

{% block main_content %}
<div id="review-body">
{% include "movie_header.html" %}
<img id="star-rating-review" src="{{ moviereview.grade.grade_depiction.url }}" alt="{{ moviereview.grade.grade_numerical }} stars" height="125" width="125"/><span style="font-size:30px"><strong>= [{{ moviereview.grade.grade_description }}]</strong></span>
<div id="review_body">{{ review_text|safe }}</div>
<p><strong>Author: </strong>{{ moviereview.review_author }}</p>
<p><strong>Written on: </strong>{{ moviereview.date_created }}; <strong>Added to the Database: </strong>{{ moviereview.first_created }}; <strong>Last Modified: </strong>{{ moviereview.last_modified }}</p>
    </div>
{% endblock %}

{% block user_comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES:
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
this.page.url = '{{ absolute_uri }}';  // your page's canonical URL variable
{% if moviereview.human_readable_url %}
this.page.identifier = '{{ moviereview.human_readable_url }}'; // your page's unique identifier variable
{% else %}
this.page.identifier = '{{ moviereview }}';
{% endif %}
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://horror-explosion.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}

{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static 'javascript/suggest_othr_reviews.js' %}"></script>
{% endblock %}