{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
{% include "movie_header.html" %}
{% if associated_reviews %}
<p><strong>Review(s)</strong>: {% for review in associated_reviews %}<a href="{{ review.get_absolute_url }}">{{ review }}</a>{% endfor %}
    {% else %}
<p><strong>No review(s) yet.</strong>
    {% endif %}
{% if referenced_in_reviews %}
    <p><strong>Referenced in the following review(s)</strong>: {% for review_ref in referenced_in_reviews %}<a href="{{ review_ref.review.get_absolute_url }}">{{ review_ref.review }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endif %}
{% endblock %}
