{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
{% include "tv_episode_review_header.html" with televisionepisode=televisionepisodereview.reviewed_tv_episode %}
{% if televisionepisodereview.mov_review_page_description %}
<p><strong>Summary: </strong>{{ televisionepisodereview.mov_review_page_description }}</p>
{% endif %}
<img id="star-rating-review" src="{{ televisionepisodereview.grade.grade_depiction.url }}" alt="{{ televisionepisodereview.grade.grade_numerical }} stars" height="125" width="125"/><span style="font-size:30px"><strong>= [{{ televisionepisodereview.grade.grade_description }}]</strong></span>
<div id="review_body">{{ tvepisode_review|safe }}</div>
<p><strong>Author: </strong>{{ televisionepisodereview.review_author }}</p>
<p><strong>Written on: </strong>{{ televisionepisodereview.date_created }}; <strong>Added to the Database: </strong>{{ televisionepisodereview.first_created }}; <strong>Last Modified: </strong>{{ televisionepisodereview.last_modified }}</p>
{% if televisionepisodereview.previous_and_next_episode_review.0 %}
<p><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size:25px"></span><span style="font-size:18px"><strong>Previous review</strong>: {% for review in televisionepisodereview.previous_and_next_episode_review.0 %} <a href="{{ review.get_absolute_url }}">{{ review }}</a>{% if not forloop.last %}<strong>;</strong> {% endif %}{% endfor %}</span><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size:25px"></span></p>
{% endif %}
{% if televisionepisodereview.previous_and_next_episode_review.1 %}
<p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size:25px"></span><span style="font-size:18px"><strong>Next review</strong>:{% for review in televisionepisodereview.previous_and_next_episode_review.1 %} <a href="{{ review.get_absolute_url }}">{{ review }}</a>{% if not forloop.last %}<strong>;</strong> {% endif %}{% endfor %}</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size:25px"></span></p>
{% endif %}
{% endblock %}

{% block user_comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
this.page.url = '{{ absolute_uri }}';  // Replace PAGE_URL with your page's canonical URL variable
{% if televisionepisodereview.human_readable_url %}
this.page.identifier = '{{ televisionepisodereview.human_readable_url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
{% else %}
this.page.identifier = '{{ televisionepisodereview }}';
{% endif %}
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://horror-explosion.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}