{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<div class="media" style="margin-bottom: 10px;">
    <div class="media-left pull-left">
    {% load static %}
    <img id="review_mov_poster" class="media-object img-rounded" src="{% static '' %}{{ televisionseries.poster }}" alt="{{ televisionseries.main_title}} poster" height="300" width="250" />
    </div>
    <div class="media-body">
<h1 class="media-heading">{{ televisionseries.main_title }}</h1>
        <h2 class="media-heading">({% for country in televisionseries.country_of_origin.all %}{{ country }}{% if not forloop.last %}/ {% endif %}{% endfor %}, {{ televisionseries.year_of_release }}, {{ televisionseries.duration }} min.)</h2>
        {% if televisionseries.original_title %}
        <h3 class="media-heading"><em><strong>Original Title</strong></em>: {{ televisionseries.original_title }}</h3>
        {% endif %}
        {% if televisionseries.alternative_title.all %}
        <h3 class="media-heading"><em><strong>AKA</strong></em>: {% for alt_title in televisionseries.alternative_title.all %}{{ alt_title }}{% if not forloop.last %};&nbsp;{% endif %}{% endfor %}</h3>
        {% endif %}
<h3 class="media-heading"><em><strong>Dir.</strong></em>: {% for movie_participation in movie_directors %}{{ movie_participation.person }}{% if not forloop.last %},{% else %}.{% endif %}{% endfor %}
    {% if movie_cast %}
<em><strong>Cast</strong></em>: {% for movie_participation in movie_cast %}{{ movie_participation.person }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% endif %}
</h3>
<p><strong>Genre(s)</strong>: {% for genre in televisionseries.genre.all %}{{ genre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% if televisionseries.subgenre.all %}
<p><strong>Subgenre(s)</strong>: {% for subgenre in televisionseries.subgenre.all %}{{ subgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
{% if televisionseries.microgenre.all %}
<p><strong>Microgenre(s)</strong>: {% for microgenre in televisionseries.microgenre.all %}{{ microgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
<p><strong>Keyword(s)</strong>: {% for keyword in televisionseries.keyword.all %}{{ keyword }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
    </div>
    </div>
{% endblock %}