{% extends "base_generic.html" %}

{% block search_form %}
{%include 'search_form.html' %}
{% endblock %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<div id="about">{{ mission_statement|safe }}</div>
{% endblock %}

{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static 'javascript/search_autocomplete.js' %}"></script>
{% endblock %}