<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131672949-1"></script>
    <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-131672949-1');
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "http://www.horrorexplosion.com",
            "logo": "https://horrorexplosion.s3-eu-west-1.amazonaws.com/media/horror_explosion_logo.jpg"
        }
    </script>
    {% block title %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_description %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- selectpicker dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static '' %}ckeditor/ckeditor-init.js"></script>
    <script type="text/javascript" src="{% static '' %}ckeditor/ckeditor/ckeditor.js"></script>
    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="https://s3-eu-west-1.amazonaws.com/horrorexplosion/media/favicon-32x32.png" type="image/x-icon">
    <!-- Social Media Plugins -->
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5c309187ca77ad0011af66fe&product=inline-share-buttons"></script>
    {% block mov_rev_structured_data %}{% endblock %}
    {% block tv_ep_rev_structured_data %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <img class="img-circle" src="https://horrorexplosion.s3-eu-west-1.amazonaws.com/media/lo-res_logo.png">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <nav>
                <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'contributors' %}">Contributors</a></li>
                </ul>
                </nav>
            </div>
        </div>
    </nav>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 sidenav">
                <p class="lead">Content:</p>
                <div class="list-group">
                    <nav>
                    <a href="{% url 'movies' %}" class="list-group-item">Movies</a>
                    <a href="{% url 'movie_reviews' %}" class="list-group-item">Movie Reviews</a>
                    <a href="{% url 'movie_index' %}" class="list-group-item">Movie Index</a>
                        <a href="{% url 'tv_series' %}" class="list-group-item">TV Series</a>
                    </nav>
                </div>
            </div>
            <div class="col-sm-8 text-left main">
                {% block main_content %}{% endblock %}
                {% block pagination %}
                    {% if is_paginated %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                                    {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                                    {% else %}
                                        <li><a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
                            {% endif %}
                        </ul>
                        </nav>
                    {% endif %}
                {% endblock %}
                <strong>Share this:</strong><div class="sharethis-inline-share-buttons"></div>
            </div>
            {% block user_comments %}{% endblock %}
        </div>
    </div>

    <div class="container">
        <hr>
    <footer class="row">
        <h4 class="text-center">Sitemap:</h4>
        <ul class="list-inline text-center" id="footer_sitemap">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'movie_reviews' %}">Movie Review List</a></li>
                    <li><a href="{% url 'movie_index' %}">Alphabetical Movie Index</a></li>
                    <li><a href="{% url 'contact' %}">Get in Touch</a></li>
                    <li><a href="{% url 'movies' %}">Movie List</a></li>
                    <li><a href="{% url 'about' %}">About the Website</a></li>
                    <li><a href="{% url 'contributors' %}">About our Contributors</a></li>
        </ul>
        <div class="col-lg-12 text-center">
            <p>Copyright &copy; 2018&ndash;<script type="text/javascript">document.write(new Date().getFullYear());</script> The Horror Explosion</p>
        </div>
    </footer>
    </div>
</body>
</html>