{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>The Horror Explosion Home</h1>
<p>Welcome to The Horror Explosion - a website dedicated to horror movie reviews with a special focus on post-1999
    genre output.<br/>
    It's very basic at the moment but we'll aim to expand it by adding new content and features.</p>
<p><strong>Current number of reviews: </strong><a href="{% url 'movie_reviews' %}">{{ number_of_reviews }}</a></p>
<p><strong>Current number of movies in our database: </strong><a href="{% url 'movies' %}">{{ number_of_movies }}</a></p>
<p><strong>Latest review: </strong>
    <a href="{{ latest_review.get_absolute_url }}"><div style="margin-bottom: 10px;" class="media"><div class="media-left"><img class="media-object img-rounded" src="{{ latest_review.reviewed_movie.poster.url }}" alt="{{ latest_review.reviewed_movie.main_title}} poster" height="45" width="45" /></div><div class="media-body"><p class="media-heading text-left">{{ latest_review }}</p></div></div></a>
<p><strong>Random review:</strong></p>
    <a href="{{ random_review.get_absolute_url }}"><div style="margin-bottom: 10px;" class="media"><div class="media-left"><img class="media-object img-rounded" src="{{ random_review.reviewed_movie.poster.url }}" alt="{{ random_review.reviewed_movie.main_title}} poster" height="45" width="45" /></div><div class="media-body"><p class="media-heading text-left">{{ random_review }}</p></div></div></a>
{% endblock %}
