{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
{% load static %}
<h1>The Horror Explosion Home</h1>
<p>Welcome to The Horror Explosion - a website dedicated to horror movie reviews with a special focus on post-1999
    genre output.<br/>
    It's very basic at the moment but we'll aim to expand it by adding new content and features.</p>
<p><strong>Current number of reviews: </strong><a href="{% url 'movie_reviews' %}">{{ number_of_reviews }}</a></p>
<p><strong>Current number of movies in our database: </strong><a href="{% url 'movies' %}">{{ number_of_movies }}</a></p>
{% if latest_review %}
<h3>Latest Movie Review</h3>
    {% include "review_media_object.html" with review=latest_review %}
{% endif %}

{% if latest_tv_review %}
<h3>Latest TV Review</h3>
    {% include "review_media_object.html" with review=latest_tv_review %}
{% endif %}

{% if random_review %}
<h3>Random Review</h3>
    {% include "review_media_object.html" with review=random_review %}
{% endif %}

{% if featured_review %}
<h3>Featured Review</h3><strong>(editor's weekly pick):</strong>
    {% include "review_media_object.html" with review=featured_review %}
{% endif %}
{% endblock %}
