{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>The Horror Explosion Home</h1>
<p>Welcome to The Horror Explosion - a website dedicated to horror movie reviews with a special focus on post-1999
    genre output.<br/>
    It's very basic at the moment but we'll aim to expand it by adding new content and features.</p>
<p><strong>Current number of reviews: </strong><a href="{% url 'movie_reviews' %}">{{ number_of_reviews }}</a></p>
<p><strong>Current number of movies in our database: </strong><a href="{% url 'movies' %}">{{ number_of_movies }}</a></p>

{% if latest_review %}
<p><strong>Latest review: </strong></p>
        <div class="media" style="margin-bottom: 10px;">
            <a href="{{ latest_review.get_absolute_url }}">
            <div class="media-left">
            <img class="img-thumbnail" src="{{ latest_review.reviewed_movie.poster.url }}" alt="{{ latest_review.reviewed_movie.main_title }} poster" height="40" width="40"/>
            </div>
                <div class="media-body"><h4 class="media-heading text-left">{{ latest_review }}</h4>
                    <p>{{ latest_review.mov_review_page_description }}</p>
                </div>
            </a>
        </div>
{% endif %}

{% if random_review %}
<p><strong>Random review:</strong></p>
    <div style="margin-bottom: 10px;" class="media">
        <a href="{{ random_review.get_absolute_url }}">
            <div class="media-left">
            {% if random_review.reviewed_movie.poster_thumbnail %}
            <img src="{{ random_review.reviewed_movie.poster_thumbnail.url }}" alt="{{ random_review.reviewed_movie.main_title}} poster" height="100" width="100" class="img-thumbnail">
            {% else %}
            <img src="{{ random_review.reviewed_movie.poster.url }}" alt="{{ random_review.reviewed_movie.main_title }} poster" height="100" width="100" class="img-thumbnail">
            {% endif %}
            </div>
            <div class="media-body"><h4 class="media-heading text-left">{{ random_review }}</h4>
                <p>{{ random_review.mov_review_page_description }}</p>
            </div>
        </a>
    </div>
{% endif %}
{% endblock %}
