{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>Movies {{ ordering_msg }}</h1>
<div id="sort-form">
<form method="get">
    <strong>Sort by:</strong>
    <select class="selectpicker show-tick show-menu-arrow" data-width="50%" name="ordering" multiple >
        <optgroup label="Categories" data-max-options="1">
            <option value="alphabetical">Alphabetical</option>
            <option value="date_added">Date Added</option>
            <option value="release_year">Release Year</option>
        </optgroup>
        <optgroup label="Sequence" data-max-options="1">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
        </optgroup>
    </select>
    <button type="submit" class="btn btn-primary btn-lg">Sort</button>
</form>
</div>
{% if movie_list %}
<ul class="list-group">
    {% for movie in movie_list %}
    <li class="list-group-item">
       {% include "movie_media_object.html" with mov=movie %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Could not find any movies</p>
{% endif %}
{% endblock %}

{% block pagination %}
    {% include "list_pagination_w_ordering.html" with list=movie_list %}
{% endblock %}