<div class="media" style="margin-bottom: 10px;">
    <div class="media-left pull-left">
    <img id="review_mov_poster" class="media-object img-rounded" src="{{ movie.poster.url }}" alt="{{ movie.main_title}} poster" height="300" width="250" />
    </div>
    <div class="media-body media-middle">
<h1 class="media-heading">{{ movie.main_title }}</h1>
        <h2 class="media-heading">({% for country in movie.country_of_origin.all %}{{ country }}{% if not forloop.last %}/{% endif %}{% endfor %}, {{ movie.year_of_release }}, {{ movie.duration }} min.)</h2>
        {% if movie.original_title %}
        <h3 class="media-heading"><em><strong>Original Title</strong></em>: {{ movie.original_title }}</h3>
        {% endif %}
        {% if movie.alternative_title.all %}
        <h3 class="media-heading"><em><strong>AKA</strong></em>: {% for alt_title in movie.alternative_title.all %}{{ alt_title }}{% if not forloop.last %};&nbsp;{% endif %}{% endfor %}</h3>
        {% endif %}
        {% if movie.is_direct_to_video %}
        <p><strong>Note</strong>: Direct to video</p>
        {% elif movie.is_made_for_tv %}
        <p><strong>Note</strong>: Made for TV</p>
        {% endif %}
<h3 class="media-heading"><em><strong>Dir.</strong></em>: {% for movie_participation in movie_directors %}{{ movie_participation.person }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% if movie_cast %}
<em><strong>Cast</strong></em>: {% for movie_participation in movie_cast %}{{ movie_participation.person }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% endif %}
</h3>
<p><strong>Genre(s)</strong>: {% for genre in movie.genre.all %}{{ genre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% if movie.subgenre.all %}
<p><strong>Subgenre(s)</strong>: {% for subgenre in movie.subgenre.all %}{{ subgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
{% if movie.microgenre.all %}
<p><strong>Microgenre(s)</strong>: {% for microgenre in movie.microgenre.all %}{{ microgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
<p><strong>Keyword(s)</strong>: {% for keyword in movie.keyword.all %}{{ keyword }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
    </div>
    </div>
