{% extends "base_generic.html" %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_content_description }}">
{% endblock %}

{% block main_content %}
<h1>Movie Reviews {{ ordering_msg }}</h1>

<div id="sort-form">
<form method="get">
    <strong>Sort by:</strong>
    <select class="selectpicker show-tick show-menu-arrow" data-width="50%" name="ordering" multiple >
        <optgroup label="Categories" data-max-options="1">
            <option value="alphabetical">Alphabetical</option>
            <option value="date_added">Date Added</option>
            <option value="rating">Rating</option>
            <option value="author">Author</option>
        </optgroup>
        <optgroup label="Sequence" data-max-options="1">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
        </optgroup>
    </select>
    <button type="submit" class="btn btn-primary btn-lg">Sort</button>
</form>
</div>

{% if review_list %}
<ul class="list-group">
    {% for mov_review in review_list %}
    <li class="list-group-item">
        <a href="{{ mov_review.get_absolute_url }}">
            {% if mov_review.reviewed_movie.poster_thumbnail %}
            <img class="img-thumbnail" src="{{ mov_review.reviewed_movie.poster_thumbnail.url }}" alt="{{ mov_review.reviewed_movie.main_title }} poster" height="80" width="60"/>
            {% else %}
            <img class="img-thumbnail" src="{{ mov_review.reviewed_movie.poster.url }}" alt="{{ mov_review.reviewed_movie.main_title}} poster" height="80" width="60"/>
            {% endif %}
            <strong>{{ mov_review }}</strong></a>
        <p><strong>Our Rating</strong>:</p><img id="star-rating" src="{{ mov_review.grade.grade_depiction.url }}" alt="{{ mov_review.grade.grade_numerical }} stars" height="80" width="120"/>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Could not find any movie reviews</p>
{% endif %}
{% endblock %}

{% block pagination %}
    {% include "list_pagination_w_ordering.html" with list=review_list %}
{% endblock %}