<div class="media">
  <div class="media-left">
            {% if review.reviewed_tv_season.tv_series.poster %}
                {% if review.reviewed_tv_season.poster_thumbnail %}
                <img class="media-object" src="{{ review.reviewed_tv_season.poster_thumbnail.url }}" alt="{{ review.reviewed_tv_season }} poster" height="80" width="60"/>
                {% elif review.reviewed_tv_season.poster %}
                <img class="media-object" src="{{ review.reviewed_tv_season.poster.url }}" alt="{{ review.reviewed_tv_season }} poster" height="80" width="60"/>
                {% elif review.reviewed_tv_season.tv_series.poster_thumbnail %}
                <img class="media-object" src="{{ review.reviewed_tv_season.tv_series.poster_thumbnail.url }}" alt="{{ review.reviewed_tv_season.tv_series }} poster" height="80" width="60"/>
                {% else %}
                <img class="media-object" src="{{ review.reviewed_tv_season.tv_series.poster.url }}" alt="{{ review.reviewed_tv_season.tv_series }} poster" height="80" width="60"/>
                {% endif %}
            {% elif review.reviewed_tv_episode.tv_season.tv_series.poster %}
                {% if review.reviewed_tv_episode.poster_thumbnail %}
                <img class="media-object" src="{{ review.reviewed_tv_episode.poster_thumbnail.url }}" alt="{{ review.reviewed_tv_episode }} poster" height="80" width="60"/>
                {% elif review.reviewed_tv_episode.poster %}
                <img class="media-object" src="{{ review.reviewed_tv_episode.poster.url }}" alt="{{ review.reviewed_tv_episode }} poster" height="80" width="60"/>
                {% elif review.reviewed_tv_episode.tv_season.tv_series.poster_thumbnail %}
                <img class="media-object" src="{{ review.reviewed_tv_episode.tv_season.tv_series.poster_thumbnail.url }}" alt="{{ review.reviewed_tv_episode.tv_season.tv_series }} poster" height="80" width="60"/>
                {% else %}
                <img class="media-object" src="{{ review.reviewed_tv_episode.tv_season.tv_series.poster.url }}" alt="{{ review.reviewed_tv_episode.tv_season.tv_series }} poster" height="80" width="60"/>
                {% endif %}
            {% else %}
                {% if review.reviewed_movie.poster_thumbnail %}
                <img class="media-object" src="{{ review.reviewed_movie.poster_thumbnail.url }}" alt="{{ review.reviewed_movie.main_title}} poster" height="80" width="60"/>
                {% else %}
                <img class="media-object" src="{{ review.reviewed_movie.poster.url }}" alt="{{ review.reviewed_movie.main_title}} poster" height="80" width="60"/>
                {% endif %}
            {% endif %}
  </div>
  <div class="media-body">
    <a href="{{ review.get_absolute_url }}"><h4 class="media-heading text-left">{{ review }}</h4></a>
    <p><strong>Summary:</strong> {{ review.mov_review_page_description }}</p>
      {% if review.tvepisodesegmentreview_set.all.exists %}
      <p><strong>Our Rating</strong>:{% for segment in review.tvepisodesegmentreview_set.all %}<img id="star-rating-tv-rev-list" src="{% static '' %}{{ segment.grade.grade_depiction }}" alt="{{ segment.grade.grade_numerical }} stars" height="70" width="100"/>{% if not forloop.last %} <strong style="font-size:16px;">/</strong> {% endif %}{% endfor %}</p>
      {% elif review.grade %}
      <p><strong>Our Rating</strong>: <img id="star-rating-tv-rev-list" src="{% static '' %}{{ review.grade.grade_depiction }}" alt="{{ review.grade.grade_numerical }} stars" height="70" width="100"/></p>
      {% endif %}
  </div>
</div>