<div class="media" style="margin-bottom: 10px;">
  <div class="media-left">
    {% if review.reviewed_movie.poster_thumbnail %}
    <img class="media-object" src="{{ review.reviewed_movie.poster_thumbnail.url }}" alt="{{ latest_review.reviewed_movie.main_title}} poster" height="80" width="60"/>
    {% else %}
    <img class="media-object" src="{{ review.reviewed_movie.poster.url }}" alt="{{ latest_review.reviewed_movie.main_title }} poster" height="80" width="60"/>
    {% endif %}
  </div>
  <div class="media-body">
    <a href="{{ review.get_absolute_url }}"><h4 class="media-heading text-left">{{ review }}</h4></a>
    <p>{{ review.mov_review_page_description }}</p>
  </div>
</div>