<div class="media">
  <div class="media-left">
    {% if review.reviewed_movie.poster_thumbnail %}
    <img class="media-object" src="{{ review.reviewed_movie.poster_thumbnail.url }}" alt="{{ review.reviewed_movie.main_title}} poster" height="80" width="60"/>
    {% else %}
    <img class="media-object" src="{{ review.reviewed_movie.poster.url }}" alt="{{ review.reviewed_movie.main_title }} poster" height="80" width="60"/>
    {% endif %}
  </div>
  <div class="media-body">
    <a href="{{ review.get_absolute_url }}"><h4 class="media-heading text-left">{{ review }}</h4></a>
    <p><strong>Summary:</strong> {{ review.mov_review_page_description }}</p>
    <p><strong>Our Rating:</strong> <img id="star-rating" src="{{ review.grade.grade_depiction.url }}" alt="{{ review.grade.grade_numerical }} stars" height="80" width="120"/></p>
  </div>
</div>