{% load static %}
<div class="media" id="similar-mov-div">
    <div class="media-left">
        {% if similar_mov.2.poster_thumbnail %}
        <img class="media-object img-rounded mov-similarity-img" src="{% static '' %}{{ similar_mov.2.poster_thumbnail }}" alt="{{ similar_mov.2.main_title}} poster" />
        {% else %}
        <img class="media-object img-rounded mov-similarity-img" src="{% static '' %}{{ similar_mov.2.poster }}" alt="{{ similar_mov.2.main_title}} poster" />
        {% endif %}
    </div>
    <div class="media-body">
        <h4 class="media-heading text-left"><a href="{{ similar_mov.2.get_absolute_url }}">{{ similar_mov.2 }}</a></h4>
        <div class="alert {{ similar_mov.3 }}" role="alert"><p><strong>Similarity Level:</strong> <kbd>{{ similar_mov.1 }}</kbd></p></div>
        <p><strong>Overall Similarity:</strong> {{ similar_mov.0.0 }}%</p>
        <p><strong>Keyword Similarity:</strong> {{ similar_mov.0.1 }}%</p>
        <p><strong>Genre Similarity:</strong> {{ similar_mov.0.2 }}%</p>
    </div>
</div>