<div class="media" id="similar-mov-div">
    <div class="media-left">
        {% if smov.similar_mov.poster_thumbnail %}
        <img class="media-object img-rounded mov-similarity-img" src="{{ smov.similar_mov.poster_thumbnail.url }}" alt="{{ smov.similar_mov.main_title}} poster" />
        {% else %}
        <img class="media-object img-rounded mov-similarity-img" src="{{ smov.similar_mov.poster.url }}" alt="{{ smov.similar_mov.main_title }} poster" />
        {% endif %}
    </div>
    <div class="media-body">
        <h4 class="media-heading text-left"><a href="{{ smov.similar_mov.get_absolute_url }}">{{ smov.similar_mov }}</a></h4>
        <div class="alert {{ smov.alert_type }}" role="alert"><p><strong>Similarity Level:</strong> <kbd>{{ smov.similarity_category }}</kbd></p></div>
        <p><strong>Overall Similarity:</strong> {{ smov.overall_similarity_percentage }}%</p>
        <p><strong>Keyword Similarity:</strong> {{ smov.keyword_similarity_percentage }}%</p>
        <p><strong>Genre Similarity:</strong> {{ smov.metagenre_similarity_percentage }}%</p>
        {% if smov.bonus_similarity_points != 1 %}
        <p><strong>Bonus Similarity Points:</strong> {{ smov.bonus_similarity_points }}</p>
        {% endif %}
    </div>
</div>