<div class="media" style="margin-bottom: 10px;">
    <div class="media-left pull-left">
      {% if televisionepisode.poster %}
    <img id="review_mov_poster" class="media-object img-rounded" src="{{ televisionepisode.poster.url }}" alt="{{ televisionepisode }} poster" height="300" width="250" />
      {% else %}
      <img id="review_mov_poster" class="media-object img-rounded" src="{{ televisionepisode.tv_season.tv_series.poster.url }}" alt="{{ televisionepisode }} poster" height="300" width="250" />
      {% endif %}
    </div>
    <div class="media-body">
        <h1 class="media-heading"><a href="{{ televisionepisode.tv_season.tv_series.get_absolute_url }}">{{ televisionepisode.tv_season.tv_series.main_title }}</a></h1>
        <h2 class="media-heading"><em><strong>TV Series Type</strong></em>: {{ televisionepisode.tv_season.tv_series.tv_series_type }}</h2>
        <h2 class="media-heading"><em><strong>Season</strong></em>: <a href="{{ televisionepisode.tv_season.get_absolute_url }}">{{ televisionepisode.tv_season.season_title }}</a> (S{{ televisionepisode.tv_season.season_number }})</h2>
        <h2 class="media-heading"><em><strong>Episode</strong></em>: {{ televisionepisode.episode_title }} (E{{ televisionepisode.episode_number }})</h2>
        <h2 class="media-heading">({% for country in televisionepisode.tv_season.country_of_origin.all %}{{ country }}{% if not forloop.last %}/ {% endif %}{% endfor %}, {{ televisionepisode.tv_season.year_of_release }}{% if televisionepisode.duration %}, {{ televisionepisode.duration }} min.){% else %}){% endif %}</h2>
      {% if directors %}
<h3 class="media-heading"><em><strong>Dir.</strong></em>: {% for movie_participation in directors %}<a href="{{ movie_participation.person.get_absolute_url }}">{{ movie_participation.person }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% if cast %}
<em><strong>Cast</strong></em>: {% for movie_participation in cast %}<a href="{{ movie_participation.person.get_absolute_url }}">{{ movie_participation.person }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% endif %}
</h3>
      {% endif %}
      {% if televisionepisode.genre.all %}
<p><strong>Genre(s)</strong>: {% for genre in televisionepisode.genre.all %}{{ genre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% elif televisionepisode.tv_season.genre.all %}
      <p><strong>Genre(s)</strong>: {% for genre in televisionepisode.tv_season.genre.all %}{{ genre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% endif %}
{% if televisionepisode.subgenre.all %}
<p><strong>Subgenre(s)</strong>: {% for subgenre in televisionepisode.subgenre.all %}{{ subgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% elif televisionepisode.tv_season.subgenre.all %}
      <p><strong>Subgenre(s)</strong>: {% for subgenre in televisionepisode.tv_season.subgenre.all %}{{ subgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
{% if televisionepisode.microgenre.all %}
        <p><strong><a href="{% url 'microgenres' %}">Microgenre(s)</a></strong>: {% for microgenre in televisionepisode.microgenre.all %}<a href="{{ microgenre.get_absolute_url }}">{{ microgenre }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% elif televisionepisode.tv_season.microgenre.all %}
        <p><strong><a href="{% url 'microgenres' %}">Microgenre(s)</a></strong>: {% for microgenre in televisionepisode.tv_season.microgenre.all %}<a href="{{ microgenre.get_absolute_url }}">{{ microgenre }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
      {% if televisionepisode.keyword.all %}
        <p><strong><a href="{% url 'keyword_index' %}">Keyword(s)</a></strong>: {% for keyword in televisionepisode.keyword.all %}<a href="{{ keyword.get_absolute_url }}">{{ keyword }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% elif televisionepisode.tv_season.keyword.all %}
        <p><strong><a href="{% url 'keyword_index' %}">Keyword(s)</a></strong>: {% for keyword in televisionepisode.tv_season.keyword.all %}<a href="{{ keyword.get_absolute_url }}">{{ keyword }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% endif %}
    </div>
    </div>