<div class="media" style="margin-bottom: 10px;">
    <div class="media-left pull-left">
      {% if televisionseason.poster %}
    <img id="review_mov_poster" class="media-object img-rounded" src="{{ televisionseason.poster.url }}" alt="{{ televisionseason }} poster" height="300" width="250" />
      {% else %}
      <img id="review_mov_poster" class="media-object img-rounded" src="{{ televisionseason.tv_series.poster.url }}" alt="{{ televisionseason }} poster" height="300" width="250" />
      {% endif %}
    </div>
    <div class="media-body">
<h1 class="media-heading"><a href="{{ televisionseason.tv_series.get_absolute_url }}">{{ televisionseason }}</a></h1>
        <h2 class="media-heading">({% for country in televisionseason.country_of_origin.all %}{{ country }}{% if not forloop.last %}/ {% endif %}{% endfor %}, {{ televisionseason.year_of_release }}{% if televisionseason.season_end_year %}&ndash;{{ televisionseason.season_end_year }}{% endif %}{% if televisionseason.duration %}, {{ televisionseason.duration }} min.){% elif televisionseason.nr_of_episodes_in_season and episode_durations|length > 0 %}, {{ televisionseason.nr_of_episodes_in_season }} episodes of length {% if episode_durations|length == 1 %}{{ episode_durations.0 }} min.){% else %}{{ episode_durations.0 }}&ndash;{{ episode_durations.1 }} min.){% endif %}{% else %}){% endif %}</h2>
<h3 class="media-heading">
    {% if directors %}
    <em><strong>Dir.</strong></em>: {% for movie_participation in directors %}<a href="{{ movie_participation.person.get_absolute_url }}">{{ movie_participation.person }}</a>{% if not forloop.last %},{% else %}.{% endif %}{% endfor %}
    {% endif%}
    {% if showrunners %}
    <em><strong>Showrunner(s)</strong></em>: {% for movie_participation in showrunners %}<a href="{{ movie_participation.person.get_absolute_url }}">{{ movie_participation.person }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% endif %}
    {% if cast %}
<em><strong>Cast</strong></em>: {% for movie_participation in cast %}<a href="{{ movie_participation.person.get_absolute_url }}">{{ movie_participation.person }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% endif %}
</h3>
      {% if televisionseason.genre.all %}
<p><strong>Genre(s)</strong>: {% for genre in televisionseason.genre.all %}{{ genre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% endif %}
{% if televisionseason.subgenre.all %}
<p><strong>Subgenre(s)</strong>: {% for subgenre in televisionseason.subgenre.all %}{{ subgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
{% if televisionseason.microgenre.all %}
        <p><strong><a href="{% url 'microgenres' %}">Microgenre(s)</a></strong>: {% for microgenre in televisionseason.microgenre.all %}<a href="{{ microgenre.get_absolute_url }}">{{ microgenre }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
      {% if televisionseason.keyword.all %}
        <p><strong><a href="{% url 'keyword_index' %}">Keyword(s)</a></strong>: {% for keyword in televisionseason.keyword.all %}<a href="{{ keyword.get_absolute_url }}">{{ keyword }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% endif %}
    </div>
    </div>