<div class="media" style="margin-bottom: 10px;">
    <div class="media-left pull-left">
      {% if televisionseason.poster %}
    <img id="review_mov_poster" class="media-object img-rounded" src="{{ televisionseason.poster.url }}" alt="{{ televisionseason }} poster" height="300" width="250" />
      {% else %}
      <img id="review_mov_poster" class="media-object img-rounded" src="{{ televisionseason.tv_series.poster.url }}" alt="{{ televisionseason }} poster" height="300" width="250" />
      {% endif %}
    </div>
    <div class="media-body">
        <h1 class="media-heading"><a href="{{ televisionseason.tv_series.get_absolute_url }}">{{ televisionseason.tv_series.main_title }}</a></h1>
        <h2 class="media-heading"><em><strong>TV Series Type</strong></em>: {{ televisionseason.tv_series.tv_series_type }}</h2>
        <h2 class="media-heading"><em><strong>Season</strong></em>: <a href="{{ televisionseason.get_absolute_url }}">{{ televisionseason.season_title }}</a> (S{{ televisionseason.season_number }})</h2>
        <h2 class="media-heading">({% for country in televisionseason.country_of_origin.all %}{{ country }}{% if not forloop.last %}/ {% endif %}{% endfor %}, {{ televisionseason.year_of_release }}{% if televisionseason.duration %}, {{ televisionseason.duration }} min.){% else %}){% endif %}</h2>
        <h3 class="media-heading">
    {% if directors %}
    <em><strong>Dir.</strong></em>: {% for movie_participation in directors %}<a href="{{ movie_participation.person.get_absolute_url }}">{{ movie_participation.person }}</a>{% if not forloop.last %},{% else %}.{% endif %}{% endfor %}
    {% endif%}
    {% if showrunners %}
    <em><strong>Showrunner(s)</strong></em>: {% for movie_participation in showrunners %}<a href="{{ movie_participation.person.get_absolute_url }}">{{ movie_participation.person }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% endif %}
    {% if cast %}
<em><strong>Cast</strong></em>: {% for movie_participation in cast %}<a href="{{ movie_participation.person.get_absolute_url }}">{{ movie_participation.person }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    {% endif %}
</h3>
      {% if televisionseason.genre.all %}
<p><strong>Genre(s)</strong>: {% for genre in televisionseason.genre.all %}{{ genre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% endif %}
{% if televisionseason.subgenre.all %}
<p><strong>Subgenre(s)</strong>: {% for subgenre in televisionseason.subgenre.all %}{{ subgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
{% if televisionseason.microgenre.all %}
<p><strong>Microgenre(s)</strong>: {% for microgenre in televisionseason.microgenre.all %}{{ microgenre }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
{% endif %}
      {% if televisionseason.keyword.all %}
<p><strong>Keyword(s)</strong>: {% for keyword in televisionseason.keyword.all %}{{ keyword }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
      {% endif %}
    </div>
    </div>