#review_body > p {
    text-align: justify;
}

#about > p {
    text-align: justify;
}

body {
    background-color: white;
}

.sidenav {
        padding-top: 60px;
        background-color: white;
}

.main {
        padding-top: 60px;
        padding-bottom: 80px;
        height:100%;
        background-color: white;
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
}

li.mov_index {
    padding: 10px;
}

div#sort-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.selectpicker {
    float: right;
}

.btn {
    margin-left: 10px;
}

div#sort-form > form {
    padding-left: 10px;
}

div#rating {
    margin-right: 200px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}

div.media-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#star-rating {
   width: auto;
   height: 100%;
}

* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
           height: auto;
           padding: 15px;
    }
}
