#review_body > p {
    text-align: justify;
}

#about > p {
    text-align: justify;
}

body {
    background-color: white;
}

.sidenav {
        padding-top: 60px;
        background-color: white;
}

.main {
        padding-top: 60px;
        padding-bottom: 80px;
        height:100%;
        background-color: white;
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
}

li.mov_index {
    padding: 10px;
}

div#sort-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.selectpicker {
    float: right;
}

.btn {
    margin-left: 10px;
}

div#sort-form > form {
    padding-left: 10px;
}

div.media-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#star-rating {
   border-style: solid;
    border-width: 4px;
    padding: 5px;
    height: 50px;
    width: auto;
}

#star-rating-review {
    border-style: solid;
    border-width: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    height: 90px;
    width: auto;
}

#review_mov_poster{
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    height: 350px;
    width: auto;
}

similar-mov-div {
    padding: 3px;
}

.mov-similarity-img {
     border-style: solid;
     border-width: 1px;
     padding: 3px;
     height: 150px;
     width: auto;
}

.alert {
  display:inline-block;
}

* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
           height: auto;
           padding: 15px;
    }
}
